In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
file = 'data/2021/passing.csv'

In [26]:
data = pd.read_csv(file)
data = data.drop(data.columns[0], axis=1)
data

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3.0,5.0
1,2,Justin Herbert,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5.0,5.0
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,...,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3.0,4.0
3,4,Patrick Mahomes,KAN,26,QB,17,17,12-5-0,436,658,...,284.6,98.5,62.1,28,146,4.1,6.84,7.07,3.0,3.0
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,...,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,...,0.0,39.6,2.9,0,0,0.0,0.00,0.00,NaN,NaN
111,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,...,0.0,39.6,1.1,0,0,0.0,0.00,0.00,NaN,NaN
112,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,...,0.0,39.6,0.5,0,0,0.0,0.00,0.00,NaN,NaN
113,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,...,0.0,39.6,0.0,1,1,50.0,-0.50,-0.50,NaN,NaN
114,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,...,0.0,39.6,0.4,0,0,0.0,0.00,0.00,NaN,NaN

#### QBR Average vs Playoff QBs QBR Average for Each Round
Do better QBs advance further in the playoffs?

In [4]:
qbrComparison = data[['Player','Cmp','Att','Yds','TD','Int','Rate','QBR','Sk']]
qbrComparison = qbrComparison.loc[qbrComparison['Att'] > 100]
qbrComparison['Round'] = 0
playoffQBList = ['Derek Carr','Joe Burrow',
                 'Mac Jones','Josh Allen',
                 'Jalen Hurts','Tom Brady',
                 'Jimmy Garoppolo','Dak Prescott',
                 'Ben Roethlisberger','Patrick Mahomes',
                 'Kyler Murray','Matthew Stafford',
                 'Ryan Tannehill','Aaron Rodgers'
                ]
playoffQBs = qbrComparison.loc[qbrComparison['Player'].isin(playoffQBList)].set_index('Player').reset_index()
playoffQBs['Round'] = [2,3,3,1,3,1,2,2,3,1,1,1,2,1]

# Adding Rounds back to the original qbrComparison and exporting for charting.
qbrComparison = pd.merge(qbrComparison,playoffQBs[['Player','Round']],on='Player', how='left')
qbrComparison['Round'] = qbrComparison['Round_y']
qbrComparison = qbrComparison.drop(columns=['Round_x', 'Round_y'])
qbrComparison['Round'] = qbrComparison['Round'].fillna(0).astype(int)
qbrComparison.to_csv('data/forTooltipCharting/0001.csv')

##### Wild Card, DIvisional, Conference Winners

In [6]:
wildCardWinners = playoffQBs.loc[playoffQBs['Round'] > 0]
divisionalWinners = wildCardWinners.loc[wildCardWinners['Round'] > 1]

##### Average QBR, Passer Rating

In [25]:
image = playoffQBs.sort_values('QBR', ascending=False).set_index('Player').reset_index()
image = image[['Player','Yds','TD','Int','Rate','QBR']]
image

                Player   Yds  TD  Int   Rate   QBR
0        Aaron Rodgers  4115  37    4  111.9  69.3
1            Tom Brady  5316  43   12  102.1  68.1
2     Matthew Stafford  4886  41   17  102.9  63.8
3      Patrick Mahomes  4839  37   13   98.5  62.1
4           Josh Allen  4407  36   15   92.2  60.6
5         Kyler Murray  3787  24   10  100.6  57.6
6       Ryan Tannehill  3734  21   14   89.6  56.0
7         Dak Prescott  4440  37   10  104.2  54.5
8           Joe Burrow  4611  34   14  108.3  54.3
9      Jimmy Garoppolo  3810  20   12   98.7  53.4
10          Derek Carr  4804  23   14   94.0  52.4
11           Mac Jones  3801  22   13   92.5  50.8
12         Jalen Hurts  3151  16    9   87.3  48.6
13  Ben Roethlisberger  3737  22   10   86.8  35.5

In [48]:
averageQBR = round(qbrComparison['QBR'].mean(), 1)
playoffQBaverageQBR = round(playoffQBs['QBR'].mean(), 1)
wildcardWinnersAverageQBR = round(wildCardWinners['QBR'].mean(), 1)
divisionalWinnersAverageQBR = round(divisionalWinners['QBR'].mean(), 1)

averageRate = round(qbrComparison['Rate'].mean(), 1)
playoffQBaverageRate = round(playoffQBs['Rate'].mean(), 1)
wildcardWinnersAverageRate = round(wildCardWinners['Rate'].mean(), 1)
divisionalWinnersAverageRate = round(divisionalWinners['Rate'].mean(), 1)

results = pd.DataFrame({
    '': ['League','Playoff','WildCardWinners','DivisionalWinners'],
    'QBR': [averageQBR, playoffQBaverageQBR, wildcardWinnersAverageQBR, divisionalWinnersAverageQBR],
    'Rate': [averageRate, playoffQBaverageRate, wildcardWinnersAverageRate, divisionalWinnersAverageRate]
}).set_index('')
results

                    QBR   Rate

League             46.3   88.0
Playoff            56.2   97.8
WildCardWinners    56.2   97.8
DivisionalWinners  60.9  100.5

In [40]:
aaNoPlayoff = qbrComparison.loc[qbrComparison['Round'] == 0]
# aaNoPlayoff = aaNoPlayoff.loc[aaNoPlayoff['Rate'] > 88.0]
# aaNoPlayoff = aaNoPlayoff.loc[aaNoPlayoff['QBR'] > 46.3]
# aaNoPlayoff.drop(columns=['Round']).set_index('Player').reset_index()
# names = aaNoPlayoff['Player']
# namesDf = data.loc[data['Player'].isin(names)]

In [43]:
aaNoPlayoff['Rate'].mean(), aaNoPlayoff['QBR'].mean()

(83.06785714285715, 41.403571428571446)

In [46]:
df = pd.DataFrame({
    '':['Playoff QBs','NonPlayoff QBs'], 
    'QBR': [56.2, 41],
    'Rate': [97.8, ]
}).set_index('')

In [49]:
df.pivot()

TypeError: pivot() missing 1 required argument: 'columns'