In [44]:
import pandas as pd
import numpy as np

In [113]:
# Import and Drop Bonus Column
career = pd.read_csv('data/career/aaronDonald-2-11-2022.csv').drop(columns=['Unnamed: 0'])

# Sort Playoff Games into All Games
career['Year'] = [x.split('-')[0] for x in career['Date']]
career['Month'] = [x.split('-')[1] for x in career['Date']]
career['Day'] = [x.split('-')[2] for x in career['Date']]
career = career.sort_values(by=['Year','Month','Day'])
# Drop Sorting Columns
career = career.drop(columns=['Year','Month','Day'])

# Drop Created NaNs and Inactive Games
career['@'] = career['@'].replace(np.nan,'')
career = career.loc[career['Snap Percentage'] != 'Inactive']

# Split Result and Score
career['Score'] = [x.split(' ')[1] for x in career['Result']]
career['Result'] = [x.split(' ')[0] for x in career['Result']]

# Retype Data
career[['Date','@','Opp','Result','Score','Snap Percentage','Playoff']].astype('str')
career[['Safety', 'TD', 'Sk', 'Solo', 'Ast',
       'Comb', 'TFL', 'QBHits', 'PD', 'FF', 'FR', 'Snaps']].astype('float64')

# Head for Formatting Check
career.head(2)

,Date,@,Opp,Result,Safety,TD,Sk,Solo,Ast,Comb,TFL,QBHits,PD,FF,FR,Snaps,Snap Percentage,Playoff,Score
0,2014-09-07,,MIN,L,0,0,0.0,4,0,4,2,0,0,0,0,30,51%,No,6-34
1,2014-09-14,@,TAM,W,0,0,1.0,3,0,3,3,1,0,0,0,25,44%,No,19-17

In [116]:
len(career.loc[career['Result'] == 'W'])

77

In [117]:
len(career.loc[career['Result'] == 'L'])

59