In [31]:
import pandas as pd
file = 'data/2021/passing.csv'

In [32]:
def formatNames(player):
    if '*' in player:
        player = player.split('*')[0]
    else:
        player = player.split('\\')[0]
    return player

data = pd.read_csv(file)
data['Player'] = list(map(formatNames, list(data['Player'])))
data = data.drop(data.columns[0], axis=1)
data

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3.0,6.98,7.41,3.0,5.0
1,2,Justin Herbert,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5.0,5.0
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,...,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3.0,4.0
3,4,Patrick Mahomes,KAN,26,QB,17,17,12-5-0,436,658,...,284.6,98.5,62.1,28,146,4.1,6.84,7.07,3.0,3.0
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,...,282.6,94.0,52.4,40,241,6.0,6.85,6.60,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,...,0.0,39.6,2.9,0,0,0.0,0.00,0.00,NaN,NaN
111,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,...,0.0,39.6,1.1,0,0,0.0,0.00,0.00,NaN,NaN
112,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,...,0.0,39.6,0.5,0,0,0.0,0.00,0.00,NaN,NaN
113,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,...,0.0,39.6,0.0,1,1,50.0,-0.50,-0.50,NaN,NaN
114,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,...,0.0,39.6,0.4,0,0,0.0,0.00,0.00,NaN,NaN

In [33]:
data.to_csv(file)